.single-page {
    display: flex;

    &__image {
        width: 65%;

        &-img {
            width: 100%;
        }
    }
}

// .single-page {
//     &__card {
//         width: 90%;
//         margin: 0 auto;
//         height: 100%;
//     }
    
//     &__title {
//         font-size: 28px;
//         width: 100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
    
//     &__author {
//         font-size: 28px;
//         display: flex;
//         justify-content: flex-end;
//     }
    
//     &__description {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         font-size: 18px;
//     }
    
//     &__image {
//         display: flex;
//         justify-content: center;
//         box-sizing: border-box;
//         // width: 50%;
//         // height: 100%;

//         &-img {
//             object-fit: cover;
//             width: 30%;
//             // height: 100%;
//         }
//     }
// }