.feedback-admin {
    width: 90%;
    height: auto;
    padding: 30px;
    margin: 0 auto;

    &__title {
        // height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-box {
            border: 1px solid;
            padding: 10px;
            background:rgba(#a0b3b0,.25);

            &:hover {
                background:darken(#a0b3b0,.3);
            }
        }
    }
}