.aside-block__owner {
    width: 100%;

    &-grid {
        width: 100%;
        // height: 650px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        background: green;
    }
}

.cards-block {
    width: 100%;
    // min-height: 350px;
    border: 1px solid;
    border-radius: 10px;
    
    // &__owner {
    //     min-height: 550px;
    // }

    &__image {
        display: flex;
        justify-content: center;
        // align-items: center;
        &-img {
            width: 90%;
            height: 90%;
            object-fit: cover;
        }
    }
}