.about-page {

    &__grid {
        width: 90vw;
        margin: 20px auto 20px; 
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-flow: dense;
        grid-auto-rows: 400px;
        // background: grey;
        box-sizing: border-box;
    }

    &__link {
        // border: 2px solid;
        opacity: .5;
    }
    &__link:hover {
        opacity: 1;
    }

    &__link:nth-child(4n+1) {
        grid-column: span 2;
    }
    &__link:nth-child(4n+2) {
        grid-row: span 2;
    }
    &__link:nth-child(4n+3) {
        grid-column: span 2;
        grid-row: span 2;
    }

    &__card {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: grey;

        &-image {
            height: 90%;
            &-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10%;
            font-size: 24px;
        }
    }
}