.feedback-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;

    &__left {
        display: flex;
        flex-direction: column;
        // margin: 0 auto;
    }
    &__right {
        form {
            display: flex;
            flex-direction: column;
        }
    }
}