.feedback-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;

    &__left {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 22px;
        // margin: 0 auto;
    }
    &__right {
        width: 100%;
        form {
            display: flex;
            flex-direction: column;

            label {
                input, textarea {
                    margin-top: 10px;
                    font-size: 22px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 5px 10px;
                    background: none;
                    background-image: none;
                    border:1px solid #a0b3b0;
                    // color:#ffffff;
                    border-radius: 0;
                    transition: border-color .25s ease, box-shadow .25s ease;
                    
                    &:focus {
                        outline: 0;
                        border-color: #1ab188;
                    }
                }
            }

            div {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                input {
                    margin-top: 10px;
                    padding:15px;
                    background:rgba(#a0b3b0,.25);
                    color:#a0b3b0;
                    font-size:20px;
                    float:left;
                    width:100%;
                    text-align:center;
                    cursor:pointer;
                    transition:.5s ease;
            
                    &:hover {
                        background:darken(#1ab188,5%);
                        // color:#ffffff;
                    }
                }
            }

        }
    }
}

@media (max-width: 768px) {
    .feedback-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;

        &__left {
            margin-top: 10px;
            font-size: 16px;
        }
        &__right {
            margin-top: 10px;
        }
    }
}