// .home-wrapper {
//     width: 100%;
//     height: 750px;
//     background: yellow;
//     display: flex;

//     &__aside {
//         width: 30%;
//         height: 100%;
//         background: gray;
//         z-index: 3;
//         // opacity: 0;
//         animation: show 1s forwards;

//         &-title {
//             height: 30px;
//             width: 100%;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             font-size: 20px;
//         }
//     }
//     &__body {
//         position: relative;
//         width: 100%;
//         height: 100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         .ant-btn {
//             width: 125px;
//         }
//         .block-button {
//             display: flex;
//             justify-content: flex-start;
//             align-items: center;
//         }
//         .btn-active {
//             position: absolute;
//             top: 0;
//             left: -100px;
//             // background: orange;
//             transition: all 1.5s;
//         }
//         .btn-active:hover {
//             position: absolute;
//             top: 0;
//             left: 0;
//             transition: all 1s;
//             z-index: 2;
//         }

//         &-cards {
//             width: 100%;
//             height: 100%;
//             margin: 0 auto;
//             // background: red;
//             animation: show 1s forwards;
//         }
//     }

//     &__cards {
//         width: 100%;
//         height: 100%;
//         background: red;
//     }
// }

// @keyframes show {
//     0% {opacity: 0;}
//     100% {opacity: 1;}
// }

.home-wrapper {
    width: 100%;
    height: 100vh;
    // background: yellow;
    position: relative;
    display: flex;

    &__aside {
        height: 100%;
        width: 30%;
        background: gray;
        animation: visible 1s forwards;
        z-index: 10;
        // position: fixed;
    }

    &__body {
        width: 100%;
        position: relative;
        
        &-content {
            height: 100%;
            width: 100%;
            display: flex;
            // background: red;
            position: relative;
        }

        .btn-active {
            position: absolute;
            width: 130px;
            top: 0;
            left: -100px;
            transition: 1s;
            background: orange;
        }
        .btn-active:hover {
            position: absolute;
            width: 130px;
            top: 0;
            left: 0;
            transition: 1.5s;
        }
        .btn-false {
            position: absolute;
            width: 130px;
            top: 0;
            left: 0;
        }
    }

}
@keyframes visible {
    0% {opacity: 0;}
    100% {opacity: 1;}
}