.header-wrapper {
    width: 100%;
    display: flex;
    height: auto;
    background: black;
    &__logo {
        padding-left: 30px;
        // width: 35%;
        width: 100%;
        font-family: 'Shadows Into Light';
        font-style: oblique;
        font-weight: 700;
        font-size: 32px;
        color: white;
    }

    &__links {
        // width: 100%;
        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            li {
                padding-right: 30px;
                a {
                    color:white;
                }
                a:hover {
                    color:grey;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header-wrapper {
        &__logo {
            font-size: 22px;
        }
        &__links {
            font-size: 14px;
        }
    }
}

@media (max-width: 480px) {
    .header-wrapper {
        &__logo {
            font-size: 20px;
        }
        &__links {
            font-size: 10px;
            ul {
                li {
                    padding-right: 10px;
                }
            }
        }
    }
}